<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SELMASH interface</title>
</head>

<script>

    async function check () {
    var response = await fetch('/check');
    
    if (response.ok) { // если HTTP-статус в диапазоне 200-299
        // получаем тело ответа (см. про этот метод ниже)
        var json = await response.json();
        result = document.getElementById('result');
        result.innerHTML = json.status;
    } else {
        alert("Ошибка HTTP: " + response.status);
    }
    }
    setInterval(check, 500);


    let req = new XMLHttpRequest()
    function swich() {
        

        req.open("POST", "/swich", true)

        req.send()
        
        but = document.getElementById('but');

        if (but.innerText == 'Включить') {
            but.innerText = 'Выключить' 
        }
        else {
            but.innerText = 'Включить'
        }
    }

</script>

<body>
    <div>
        <h3 style="margin-left: 26%; font-size: 40pt">РАСПОЗНАННЫЙ ОБЪЕКТ</h3>
        <!--<div style="margin: 50px; margin-left: 43%;">-->
        <!--    <button id="but" onclick="swich()">Включить</button>-->
        </div>
        <div style="margin-left: 30%;">
            <!-- <img id="bg" src="{{ url_for('video_feed') }}"> -->
        </div>
        <h4 style="margin-left: 40%; font-size: 80pt"</h4>
        <!--<div style="margin: 60px; margin-left: 43%;">-->
        <div id="result"></div>
    </div>
</body>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script>
    var i = 0;
    async function check () {
      var response = await fetch('https://5f7222c46833480016a9b531.mockapi.io/test');
      
      if (response.ok) { // если HTTP-статус в диапазоне 200-299
        // получаем тело ответа (см. про этот метод ниже)
        var json = await response.json();
        document.getElementById("result").innerHTML = json[i].name;
      } else {
        alert("Ошибка HTTP: " + response.status);
      }
    }

    setInterval(check, 500);
    check()
  </script>
</head>
<body>
  <div id="result"></div>
  <button onclick="i++">next</button>
</body>
</html> -->
